* {
  padding: 0;
  margin: 0;
}

a {
  color: #000;
}
a:hover {
  color: black;
}
a:active {
  color: green;
}
a:visited {
  color: yellow;
}

.block:not(.first) {
  padding: 20px 40px;
  background: red;
  height: 500px;
  margin-bottom: 20px;
}

#central-block {
  padding: 30px;
}
#central-block ul {
  list-style: none;
}
#central-block ul li {
  color: wheat;
  margin-right: 10px;
  width: 25%;
}

#grid {
  float: left;
  width: 100%;
}
#grid > div {
  float: left;
  background-color: #ce3d3d;
  margin-right: 5%;
  margin-bottom: 5%;
  height: 150px;
  width: 10%;
}
#grid > div:nth-child(7n) {
  margin-right: 0;
}