* {
  padding: 0;
  margin: 0;
}

.block:not(.first) {
  background: red;
  height: 200px;
  margin-bottom: 20px;
}

#central-block {
  padding: 30px;
}
#central-block ul {
  list-style: none;
}
#central-block ul li {
  color: wheat;
  margin-right: 10px;
}
#central-block a {
  text-decoration: none;
}