* {
  padding: 0;
  margin: 0;
}

a {
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  color: red;
}
a:hover {
  color: #990000;
}
a:active {
  color: green;
}

.header a {
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  color: red;
  background-color: #000;
}
.header a:hover {
  color: #990000;
}
.header a:active {
  color: green;
}

.block:not(.first) {
  padding: 20px 40px;
  background: red;
  height: 500px;
  margin-bottom: 20px;
}

#central-block {
  padding: 30px;
}
#central-block ul {
  list-style: none;
}
#central-block ul li {
  color: wheat;
  margin-right: 10px;
  width: 25%;
}

#grid {
  float: left;
  width: 100%;
}
#grid > div {
  float: left;
  background-color: #ce3d3d;
  margin-right: 5%;
  margin-bottom: 5%;
  height: 150px;
  width: 21.25%;
}
#grid > div:nth-child(4n) {
  margin-right: 0;
}

.some_class-24 {
  width: 74px;
  height: 74px;
}

.some_class-25 {
  width: 75px;
  height: 75px;
}

.some_class-26 {
  width: 76px;
  height: 76px;
}

.some_class-27 {
  width: 77px;
  height: 77px;
}

.some_class-28 {
  width: 78px;
  height: 78px;
}