$bgColor: red;
$blockWidth: 30%;
$border: 4px solid red;
$padding: 0;
$margin: 0;
$height: 200px;

* {
    padding: $padding;
    margin: $margin;
}

.block:not(.first) {
    background: $bgColor;
    height: $height;
    margin-bottom: 20px;
}

#central-block {
    padding: 30px;
    ul {
        list-style: none;

        li {
            color: wheat;
            margin-right: 10px;
        }
    }
    
    a {
        text-decoration: none;
    }
}