@import "variables";
@import "mixins";


* {
    padding: $padding;
    margin: $margin;
}


@include link(#000, blue, green, yellow);


.block:not(.first) {
    @include padd(20px 40px);
    background: $bgColor;
    height: $height;
    margin-bottom: 20px;
}

#central-block {
    padding: 30px;
    ul {
        list-style: none;

        li {
            @include font2;
            color: wheat;
            margin-right: 10px;
        }
    }
}